.map-container {
  height: 70vh;    /* Ensure the map has height */
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}


/* Ensure map and markers display correctly */
.map-wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Improved card styling */
.card {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Popup styling */
.leaflet-popup-content-wrapper {
  background: #f4f4f4;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-family: "Roboto", sans-serif;
}
